* {
     margin: 0px;
     padding: 0px 

}
 #main-container {
     width: 100%;
     margin: 0px auto;
      background-color: white;

}
 #header {
     width: 100%;
     background-color: black;
     padding: 35px;
     color: white;
     
}
 #header:after {
     content: ".";
     display: ruby-base;
     height: 30px;
     clear: both;
     visibility: hidden;
}
 #header section {
     float: left;
     width: 20%;
     font-size: 20px;
     font-weight: bold;
   top: 25px;

}
 #header nav {
     width: 70%;
     float: left;
}
 #header nav ul {
     list-style: none;
     color: #3c2723;
}
 #header nav ul li {
     float: left;
     min-width: 10%;
     padding: 6px;
     margin-left: 50px;
     background-color: black;
     text-align: center;
     color: #d0a0a3;
     font-size: 20px;

}
 #header nav ul li a, a {
     text-decoration: none;
     color:white;
}
 #main-body-container {
     padding: 10px;
     margin: 10px;
  }
 #main-body-container:after {
     content: ".";
     display: block;
     height: 0;
     clear: both;
     visibility: hidden;
}
 #display-ads{
     padding: 300x;
     margin: 300px;
     background: black;
}
 #main-article {
     float: center;
     width: 90%;
     min-height: 300px;
     background: white;
}
 #sidebar {
     float: center;
     width: 20%;
     min-height: 450px;
     background:white;
}
 #footer {
     width: 100%;
     background-color: black;
     padding: 5px;
     color: #3c2723;
     float: center;
}

.logo {
     float: left;
     width: 15px;
     height: 30px;
     margin: 0px 0px;
}



#header img {
 
width:60px;
 margin: -10px ;
 position: relative;
 float: left;

 }

#header video{

     position: relative;
     float: center;
     margin-top: 70px;
     height: 400px
     top:100px;
     width: 1000px;
 

}

#header form{
     position: absolute;
     margin-top: 100px;
     height: 200px
     top:50px;
     width: 100px;
     background-color: blue;


}