* {
     margin: 0px;
     padding: 0px 
}
 #main-container {
     width: 100%;
     margin: 0px auto;
}
 #header {
     width: 100%;
     background-color: black;
     padding: 30px;
     color: white;
     
}
 #header:after {
     content: ".";
     display: ruby-base;
     height: 30px;
     clear: both;
     visibility: hidden;
}
 #header section {
     float: left;
     width: 20%;
     font-size: 20px;
     font-weight: bold;

}
 #header nav {
     width: 70%;
     float: left;
}
 #header nav ul {
     list-style: none;
     color: #3c2723;
}
 #header nav ul li {
     float: left;
     min-width: 10%;
     padding: 4px;
     margin-left: 10px;
     background-color: black;
     text-align: center;
     color: #d0a0a3;

}
 #header nav ul li a, a {
     text-decoration: none;
     color:white;
}
 #main-body-container {
     padding: 10px;
     margin: 10px;
  }
 #main-body-container:after {
     content: ".";
     display: block;
     height: 0;
     clear: both;
     visibility: hidden;
}
 #display-ads{
     padding: 300x;
     margin: 300px;
     background: black;
}
 #main-article {
     float: left;
     width: 60%;
     min-height: 450px;
     background: white;
}
 #sidebar {
     float: center;
     width: 20%;
     min-height: 450px;
     background:white;
}
 #footer {
     width: 100%;
     background-color: black;
     padding: 10px;
     color: #3c2723;
}

.logo {
     float: left;
     width: 15px;
     height: 30px;
     margin: 0px 0px;
}
.video{
     margin:5px 0px


}

#logo img {
 
width:50px;
 margin: 0px auto;
 float: left;
 
}

#header video{
width:320px;
height:240px;


}
